.background-summer{
    background-image:linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.473)),url(../../assets/img/verano4.jpg);
    
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.background-winter{
    background-image: url(../../assets/img/invierno.jpg);
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-body{
    padding: 3rem 4rem;
    flex-direction: column;
}

.card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-text{
    width: 58%;
}

.price-list{
    display: flex;
    align-items: center;
}

.card-title {
    margin-bottom: 1.5rem;
}

.card-bot{
    width: 100%;
}

.card-image-detail{
    padding-top: 10rem;
    padding-left: 10rem;
    /* padding: 4rem 10rem; */
    padding-bottom: 0rem;
    padding-right: 10rem;
}

.buttons{
    display: flex;
    /* width: 223%; */
    align-items: center;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    padding-top: 40px;
    justify-content: space-between;
}

.button-count{
    display: flex;
    width: 14%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}