.winter{
    background-image: url(../assets/img/invierno.jpg);
    height: 100vh;
    background-size: cover;
    background-position: right;
}

.winter-container{
  display: flex;
  flex-direction: column;
  height: inherit;
  align-content: center;
  align-items: center;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: -4%;
}


.winter-title{
  display: flex;
  flex-direction: column;
  font-family: 'Raleway';
  color: #234A85;
  font-size: 5vw;
}

.winter-title-1{
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 15%;
}

.winter-title-2{
  font-weight: 100;
  margin-top: -19%;  
}

.winter-button-pos{
  margin-top: 12%;
  margin-bottom: 21%;
}

.winter-logo-pos{
  display: flex;
  justify-content: center;
  margin-top: -8%;
}

.winter-logo-pos img{
    width: 250px;
}

/* Buttons */

.winter-button-redes{
  background-color: white;
  color: #234A85;
  font-family: 'NeoRetro';
  width: 120%;
  height: 25px;
  display: inline-flex;
  font-size: 1.5vw;
  justify-content: center;
  transform: rotate(2deg);
  align-items: center;
  text-transform: uppercase;
  border: none;
}

a{  
  -webkit-appearance: winter-button;
  -moz-appearance: winter-button;
  appearance: winter-button;

  text-decoration: none;
  color: initial;
}

.winter-button-redes svg{
  margin-right: 5px;
  padding-right: 5px;
}

.winter-button-principal {
  backface-visibility: hidden;
  background: #234A85;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway';
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 1.3;
  padding: 1rem 3.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.winter-button-principal:disabled {
  color: #787878;
  cursor: auto;
}

.winter-button-principal:not(:disabled):hover {
  transform: scale(1.05);
}

.winter-button-principal:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.winter-button-principal:focus {
  outline: 0 solid transparent;
}

.winter-button-principal:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.winter-button-principal:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.winter-button-principal:not(:disabled):active {
  transform: translateY(.125rem);
}


