/* Fonts */
@font-face {
  font-family: "NatureBeauty";
  src: url("./assets/fonts/NatureBeauty.ttf");
}
@font-face {
  font-family: "NeoRetro";
  src: url("./assets/fonts/NeoRetro.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* Reset */
*{
  margin: 0;
  padding: 0;
}

a{  
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}


/* img{
  width: 100px
} */





/**********Item detail**********/

.card-image-detail{
  height: fit-content;
  padding: 24px;
  display: flex;
  align-items: center;
}

/**********NavBar**************/

.dropdown-menu a{
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}